* {
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin-top: 100px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 50%;

}

h1 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
    background-color: paleturquoise;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

table {

    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 55px;
}

th {
    background-color: paleturquoise;
    color: black;
    font-weight: bold;
    text-align: left;
    padding: 10px;
    border: none;
}

td {
    border: 1px solid #ddd;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: lightcyan;
}

.updateeBtn,
.deleteBtn {
    padding: 5px 15px 5px 15px;
    color: black;
    background-color: #00bfff;
    font-size: 15px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;

    border-width: 1px 1px 3px;
    /* box-shadow: 0 -1px 0 rgb(255 255 255 / 10%) inset; */
    margin-bottom: 10px;
}